{{define "partial:footer"}}
<footer class="container">
    <small>
        &copy;2025-{{now | formatTime "2006"}}.
        A miniature project by <a href="https://sglmr.com">Stephen</a>
    </small>
</footer>
{{end}}